/* font-family: 'Roboto', sans-serif;

font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 57rem;
  }
}

@keyframes typing-cursor {
  from {
    border-right-color: #C9B0CF;
  }

  to {
    border-right-color: transparent;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 
  what we want is 10px, so divide default px (16px) to 10 
  10/16 = 0.625 
  .625*16 = 10
  we are converting this to percent because each user may have different font size as a default
  so that we want to provide the right font size according to user's default value (px)
  */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.header-logo {
  width: 18rem;
  margin: 1.7rem 0 0 1.7rem;
}

.main-header {
  min-height: 100vh;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-component {
  padding-bottom: 5rem;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Main banner (welcome greeting) */
#banner-hello {
  font-size: 3.5rem;
  font-family: 'Roboto Mono', monospace;
}

#banner-intro,
.project-welcome-greeting {
  font-size: 5rem;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  margin-top: 4rem;

  /* Typing animation */
  border-right: solid 3px #C9B0CF;
  white-space: nowrap;
  overflow: hidden;
  /* animation */
  animation: typing-animation 4s steps(29, end) 1s 1 normal both,
  typing-cursor 1s steps(29, end) infinite;


}

/* Icons */
.main-icons {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.main-icons > * {
  margin: 0 4.2rem;
  color: #C9B0CF;
}


/* Scroll */
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

.scroll .box {
  margin-top: 5rem;

}
.scroll > * {
  margin: 1.2rem 0 1.2rem 0;
}

.scroll p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(87, 87, 87);
  letter-spacing: .2rem;
}

/* Scroll animation */
.box span {
  display: block;
  width: 2rem;
  height: 2rem;
  border-bottom: .2rem solid rgb(174, 174, 174);
  border-right: .2rem solid rgb(174, 174, 174);
  transform: rotate(45deg);
  margin: -1rem;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
  margin: -1rem;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-2rem, -2rem);
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(2rem, 2rem);
  }
}

/* About */
.about-section {
  min-height: 75vh;
}

/* .about-content-flex-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  padding: 6rem 4rem;
} */

.about-content-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
}



.about-content-flex-container .about-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  margin: 0 79rem 1rem 0;
  color: #3F3F3F;
}

.introduce-component {
  display: flex;
  align-items: center;

  /* Modify the size of introduction */
  width: 90rem
}
.introduce-component img {
  width: 26rem;
  height: 35rem;
  margin-right: 3rem;
}

.intro .intro-first-part {
  font-size: 2rem;
  line-height: 3.5rem;
}

.intro .intro-second-part {
  font-size: 1.7rem;
  line-height: 3.2rem;
  margin-top: 2.5rem;
}

.intro-and-btn {
  padding: 4rem;
} 

.intro-and-btn .resume-btn {
  text-decoration: none;
  color: #3F3F3F;
  letter-spacing: .1rem;
  font-family: 'Roboto Mono', monospace;

  border: 2px solid #C9B0CF;
  padding: .9rem 4rem;
  font-size: 1.2rem;
  border-radius: .3rem;
}

.intro-and-btn .resume-btn:hover {
  background-color: #C9B0CF;
  color: #fff;
}

.resume-btn-div {
  margin-top: 7rem;
}


/* Projects button */
#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  min-height: 20rem;
}
.project-btn-container {
  display: flex;
  flex-direction: column;
  text-align: center;

}


/* ----------- PROJECTS PAGE ----------- */
.project-header {
  min-height: 30vh;
}
.hader-flex-container {
  display: flex;
  justify-content: center;
}
.project-welcome-greeting {
  font-size: 3rem;
  /* Typing animation */
  border-right: solid 3px #C9B0CF;
  white-space: nowrap;
  overflow: hidden;
  /* animation */
  animation: typing-animation 4s steps(29, end) 1s 1 normal both,
  typing-cursor 1s steps(29, end) infinite;
}


.projects-section {
  margin-top: 1rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 18rem;
}

.projects-container > * {
  margin-bottom: 5rem;
}

.project-item {
  display: flex;
  width: 90rem;
}
.project-item .project-description {
  padding: 2rem;
  color: #3F3F3F;


}
.project-title-container {
  display: flex;
  align-items: center;
  padding: 1.7rem;
}
.project {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1rem;
  margin-left: 14rem;
}
.project-description p {
  font-size: 1.7rem;
  line-height: 3rem;
  
}
.project-title-container .project-title {
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-right: 1rem;


}
.project-title-container span {
  color: #C7D3D4;
}
.project-item > * {
  padding: 3rem;
}
.project-item img {
  width: 30rem;
  height: 23rem;
}

.project-item .languages-used {
  display: flex;
  padding-top: 4rem;
  justify-content: flex-start;

}

.project-item .languages-used > * {
  border: .2rem solid #C7D3D4;
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  margin-right: 3rem;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.project-item .languages-used > *:hover {
  background-color: #C7D3D4;
  color: #fff;
}



/* Mobile */
/* anything smaller than 768px */
@media(max-width: 768px) {

  @keyframes typing-animation {
    from {
      width: 0;
    }
    to {
      width: 34.5rem;
    }
  }
  
  .header-logo {
    width: 14rem;
  }
  #banner-hello {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
  }
  
  #banner-intro {
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
    margin-top: 3rem;
    animation: typing-animation 4s steps(29, end) 1s 1 normal both,
    typing-cursor 1s steps(20, end) infinite;
  }

  .scroll p {
    font-size: 1.3rem;
  }

  .box span {
    width: 1rem;
    height: 1rem;
    border-bottom: .1rem solid rgb(174, 174, 174);
    border-right: .1rem solid rgb(174, 174, 174);
  }

  /* Introduce */
  .introduce-component {
    flex-direction: column;
  }

  .introduce-component img {
    width: 20rem;
    height: 25rem;
  }

  .intro-and-btn {
    display: flex;
    flex-direction: column;
  }
  .intro {
    width: 35rem;
  }
  .intro .intro-first-part {
    font-size: 2rem;
    line-height: 3rem;
  }
  .intro .intro-second-part {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .resume-btn-div {
    margin-top: 3rem;
  }




  /* PROJECTS PAGE */
  .project-header {
    min-height: 20vh;
  }
  .project-welcome-greeting {
    font-size: 2rem;
    font-weight: 300;

    /* Typing animation */
    border-right: solid 3px #C9B0CF;
    /* animation */
    animation: typing-animation 4s steps(29, end) 1s 1 normal both,
    typing-cursor 1s steps(29, end) infinite;
  }

  .project-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
  }

  .project-description {
    width: 43rem;
  }
  .project-description p {
    font-size: 1.5rem;
  }


  .project-item .languages-used > * {
    padding: 1rem 3rem;
    font-size: 1rem;

  }

}

@media(max-width: 889px) {
  .introduce-component {
    width: 70rem;
  }

  .about-title p {
    margin-left: 17rem;
  }
}